<%= form_for(elemento) do |f| %>
  <% if elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(elemento.errors.count, "error") %> prohibited this elemento from being saved:</h2>

      <ul>
      <% elemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %>
    <%= f.text_field :game %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
