<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @elemento.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @elemento.score %>
</p>

<%= link_to 'Edit', edit_elemento_path(@elemento) %> |
<%= link_to 'Back', elementos_path %>
